.o_pp_footer, .o_pp_header, .o_report_layout_pp {
    font-family: 'Lato';
    color: gray('700');
}
.o_pp_footer {
    ul {
        border-top: 1px solid $o-company-primary-color;;
        border-bottom: 1px solid $o-company-primary-color;;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: $o-company-primary-color;;
        }
    }
    img {
        max-height: 240px;
        max-width: 90%;
    }
}
.o_pp_header {
    border-bottom: 1px solid gray('300');
    .company_address {
        min-width: 300px;
    }
    img {
        max-height: 120px;
        max-width: 300px;
        margin-right: 16px;
    }
    h3 {
        color: $o-company-primary-color;;
        font-weight: 700;
        max-width: 300px;
    }
    p {
        line-height: 0.7;
    }
    #pp-top-line {
        line-height: 1.0;
    }
}

.o_report_layout_pp {
    // This is not a general rule since the id is not used in all the reports,
    // we should make a general structure for report body to use it everywhere
    #informations {
        border: 1px solid gray('700');
        padding-top: 6px;
        margin: 0;
    }
    #section-title {
        background-color: #d3d9de;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        page-break-inside:avoid;
    }
    > h2 {
        text-transform: uppercase;
    }
    thead tr th, h2 {
        color: gray('700');
    }
    tbody {
        color: gray('700');
        tr:nth-child(odd) {
            background-color: rgba(184, 171, 180, 0.2);
        }
        tr td {
            border-top: none;
        }
    }
    /*Total table*/
        div#total {
        page-break-inside: avoid;
            table {
                tr:not(:first-child):not(:last-child){
                border-top: 1px solid gray('400') !important;
                }
                tr:nth-child(odd) {
                    background-color: transparent !important;
                }
                tr:first-child td {
                    /*we could get rid of this rule if .border-black td would be terminated in report.less*/
                    border-top: none !important;
                }
                tr:last-child td {
                    color: gray('700');
                     border-top: 1px solid black;}
            }
        }



}
